@import 'src/styles/variables';

.skill-collection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 3rem 0;
  height: 100%;

  @media #{$desktop} {
    flex-direction: row;
    padding: 0 3rem;
  }
}

.contentWrapper {
  width: 100%;

  @media #{$desktop} {
    width: 55%;
  }
  
  ul {
    list-style: none;
  }
}

.imgWrapper {
  display: flex;
  width: 80%;
  flex-direction: column;

  @media #{$desktop} {
    width: 35%;
  }
  
  &-left {
    @media #{$desktop} {
      padding-right: 4rem;
    }
  }
  
  &-right {
    @media #{$desktop} {
      padding-left: 4rem;
    }
  }
}

.top {
  flex-grow: 2;
}

.img {
  svg {
    display: block;
    width: 100%;
    height: auto;
    fill: $primary;
  }
}

.bottom {
  flex-grow: 1;
}

.left {
  flex-direction: column-reverse;

  @media #{$desktop} {
    flex-direction: row;
  }
}

.right {
  flex-direction: column-reverse;

  @media #{$desktop} {
    flex-direction: row-reverse;
  }
}
