@import 'src/styles/variables';

.skill-collection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 0 3rem;

  ul {
    width: 55%;
    list-style: none;
  }
}

.imgWrapper {
  display: flex;
  width: 35%;
  flex-direction: column;
  
  &-left {
    padding-right: 4rem;
  }
  
  &-right {
    padding-left: 4rem;
  }
}

.top {
  flex-grow: 2;
}

.img {
  svg {
    display: block;
    width: 100%;
    height: auto;
    fill: $primary;
  }
}

.bottom {
  flex-grow: 1;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}
