@import 'src/styles/variables';

.card {
  display: flex;
  width: 100%;
  flex-direction: row;
  
  .visualization {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .bubble {
      display: flex;
      width: 55px;
      height: 55px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: $medium-grey-transparent;
      border-radius: 50%;
      color: $primary;
      font-family: $semi-bold-font;
      font-size: 20px;
      
      svg {
        width: 32px;
        height: auto;
        fill: $primary;
        stroke: $primary;
      }
    }
    
    .line {
      width: 3px;
      flex-grow: 1;
      background: $medium-grey-transparent;
    }
  }
  
  .content {
    margin-left: 1rem;
    
    .title {
      display: flex;
      flex-direction: column;
      margin-top: 2px;

      @media #{$desktop} {
        flex-direction: row;
        align-items: flex-end;
        margin-top: 12px;
      }
      
      h4 {
        margin-bottom: 0;
        font-family: $semi-bold-font;

        @media #{$desktop} {
          margin-bottom: 10px;
        }
      }
      
      h5 {
        font-size: 14px;

        @media #{$desktop} {
          margin-left: 1rem;
        }
      }
    }
    
    > div:last-of-type {
      margin-bottom: 1.5rem;
      
      font-family: $light-font;
      font-size: 16px;
      line-height: 1.75;
      
      @media #{$desktop} {
        font-size: 14px;  
      }
    }
  }
}
