@import 'src/styles/variables';

.card {
  display: flex;
  width: 100%;
  flex-direction: row;
  
  .visualization {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .bubble {
      display: flex;
      width: 55px;
      height: 55px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: $medium-grey;
      border-radius: 50%;
      color: $primary;
      font-family: $semi-bold-font;
      font-size: 20px;
      
      svg {
        width: 32px;
        height: auto;
        fill: $primary;
        stroke: $primary;
      }
    }
    
    .line {
      width: 3px;
      flex-grow: 1;
      background: $medium-grey;
    }
  }
  
  .content {
    margin-left: 1rem;
    
    .title {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin: 12px 0 0 0;
      
      h4 {
        font-family: $semi-bold-font;
      }
      
      h5 {
        margin-left: 1rem;
        font-size: 14px;
      }
    }
    
    > div {
      margin-bottom: 1.5rem;
      
      font-family: $light-font;
      font-size: 14px;
      line-height: 1.75;
    }
  }
}
