@import 'src/styles/variables';

.container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  min-height: 400px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  
  h2 {
    margin-bottom: 1.75rem;
  }
  
  p {
    margin: 0.5rem 0;
    text-align: center;
  }
}

.additional-information {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  
  ul {
    list-style: none;
    
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0;
      
      svg {
        width: auto;
        height: 30px;
        fill: $primary;
      }
      
      a {
        margin-left: 1rem;
        
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.button {
  padding: 1rem 2rem;
  border: 2px solid $primary;
  border-radius: 10px;
  color: $primary;
  font-family: $semi-bold-font;
  
  &:hover {
    background: $primary;
    color: #fff;
  }
}
