@import 'src/styles/variables';

.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
  flex-direction: column;
  align-items: center;
  margin: 4rem auto 12rem auto;
  
  h2 {
    margin-bottom: 2rem;
  }
}

.backend-dev-skills-img {
  svg {
    width: 70%;
  }
}

.general-dev-skills-img {
  svg {
    width: 90%;
    margin-left: 2rem;
  }
}
