@import 'src/styles/variables';

.page-template {
  display: flex;

  min-height: 100vh;
  flex-direction: column;

  background-color: $background;
  
  .main {
    position: relative;
    flex: 1;
  }
}
