@import 'src/styles/variables';

.container {
  width: 100%;
  //min-height: calc(100vh - #{$header-height});
  //background: magenta;
  padding: 0 2rem;
  margin: 5rem 0;
}

:global(.dot) {
  background: $primary !important;
}

.arrow {
  position: absolute;
  bottom: calc(50% - 20px);
  padding: 0;
  z-index: 2;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  
  svg {
    width: auto;
    height: 40px;
    opacity: 0.25;
    
    &:hover {
      opacity: 1;
      
    }
  }
  
  &Prev {
    left: 0;
    svg {
      transform: rotate(180deg);
    }
  }
  
  &Next {
    right: 0;
  }
}

.project {
  width: 100%;
  height: 500px;
  background: green;
}
