@import 'src/styles/variables';

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.top {
  flex: 1;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  
  h2 {
    margin-bottom: 2rem;
  }
  
  > p {
    padding: 0 8rem;
    text-align: center;
  }
}

.bottom {
  flex: 2;
}

:global(.carousel-root) {
  width: 100%;
}

:global(.dot) {
  width: 12px !important;
  height: 12px !important;
  background: $primary !important;
  outline: none;
}

.arrow {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 20px);
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  
  svg {
    width: auto;
    height: 40px;
    
    fill: $primary;
    opacity: 0.25;
    
    &:hover {
      opacity: 1;
      
    }
  }
  
  &Prev {
    left: 0;

    svg {
      transform: rotate(180deg);
    }
  }
  
  &Next {
    right: 0;
  }
}

.helfr-landing-page-color,
.helfr-app-color,
.token-platform-color {
  color: #6432fa;
}

.helfr-app-img {
  box-shadow: none;
  
  > img {
    width: 120% !important;
    margin-left: -2rem;
  }
}
